body{
    background: rgb(154, 154, 154);
    color:aliceblue;
}

.content{
    display: flex;
    flex: 1;

}
.main{
    width: 90%;
}

.sidebar{
    min-width: 20%;
}

.navigation ul{ 
    display: flex;
    flex: 1;
}

.navigation li{
    width: 200px;

}
h3{
    color: brown;
}
img{
    margin: 2rem;
    width: 100%;
}

article{
    padding: 1rem;
    line-height: 2rem;
}

footer{
    margin: 2rem;
    padding: 1rem;
}